h1{color: rgb(252, 252, 252);}
h2{color: rgb(255, 255, 255);}
ol{color: rgb(255, 255, 255); }
ul{ color: rgb(255, 255, 255);}
body{background-color: black;}
dl{color: rgb(255, 255, 255);}
dt{color: rgb(255, 255, 255);}
dd{color: rgb(255, 255, 255);}