body{background: linear-gradient(90deg,rgb(0, 0, 0),rgb(161, 161, 161) ); 
height: 100vh;
background-size: cover;;
height: 100%;
margin: 0;
padding: 0;
overflow-x: hidden;
color: aliceblue;

}
.links{
color: #fff4f4;
}